.intro-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 700;
    &__button {
        margin-top: 30px;
        padding: 20px 60px;
    }
    &__input {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        outline: 0;
        border: 0;
        color: var(--blue);
        background: var(--white);
        padding: 0px 5px;
        flex-grow: 0;
        flex-shrink: 1;
        width: 30px;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-grow: 0;
    }
}
